
<div class="behavior-display-toggler well">
	<span>Show behaviors: </span>
	<ul>
		<li data-ng-repeat="behaviorTypeModel in behaviorTypeCollection.models">
			<label for="toggle-{{behaviorTypeModel.id}}" class="behavior-type-toggle-label">
				<input type="checkbox" data-ng-model="showBehaviorTypeStatus[behaviorTypeModel.id]" id="toggle-{{behaviorTypeModel.id}}"/>
			{{behaviorTypeModel.get('name')}}</label>
		</li>
	</ul>
</div>
<table class="table-scatterplot">
	<tr>
		<th></th>
		<th data-ng-repeat="day in dayLabels">{{day}}</th>
	</tr>
	<tr data-ng-repeat="row in grid">
		<td>{{row.time_string}}</td>
		<td data-ng-repeat="cell in row.cells">
			<span data-ng-repeat="behaviorTypeModel in cell.behaviorTypeModels"
				  class="scatterplot-point-{{behaviorTypeModel.id}}">
                    <strong data-ng-show="showBehaviorTypeStatus[behaviorTypeModel.id]">
                    	{{behaviorTypeModel.get('code')}}
                    </strong>
            </span>
		</td>
	</tr>
</table>