
<div class="behavior-display-toggler well">
	<label for="behavior-picker">Show behavior: </label>
	<select data-ng-model="selectedBehaviorType" data-ng-options="b.label for b in behaviorTypes"></select>
	<label for="tally-mode-checkbox">
		Show tallies:
		<input type="checkbox" data-ng-model="tallyMode" />
	</label>
</div>
<table class="table-scatterplot">
	<tr>
		<th></th>
		<th data-ng-repeat="day in dayLabels">{{day}}</th>
	</tr>
	<tr data-ng-repeat="row in grid">
		<td>{{row.isoTimeString}}</td>
		<td data-ng-repeat="cell in row.cells">
			<span data-ng-repeat="marker in cell.markers"
				  class="scatterplot-point-{{marker.behaviorTypeId}}">
                    <strong data-ng-show="selectedBehaviorType.id == 0 || selectedBehaviorType.id == marker.behaviorTypeId">
                    	<span data-ng-show="!tallyMode">{{marker.code}}</span>
                    	<span data-ng-show="tallyMode">{{marker.count}}</span>
                    </strong>
            </span>
		</td>
	</tr>
</table>