<div class="app-panel app-panel-left">
    <div class="datebar">
        <button class="btn">&lt;</button>
        <span class="datebar-label-date">Today</span>
        <button class="btn disabled">&gt;</button>
    </div>
    <ul class="tracker">
        <li class="tracker-bucket clearfix"
            data-ng-class="{'active': activeBucket.timeRecordId == entryBucket.timeRecordId}"
            data-ng-repeat="entryBucket in entryBuckets"
            data-ng-click="setActiveBucket(entryBucket)">
            <div class="tracker-bucket-time">{{entryBucket.isoTimeString}}</div>
            <ul class="tracker-bucket-incidents">
                <li data-ng-repeat="marker in entryBucket.markers"
                    data-ng-show="marker.count"
                    class="behavior-incident behavior-incident-{{marker.behaviorTypeId}}">
                    <div data-ng-switch on="marker.tallyMode">
                        <span data-ng-switch-when="true">{{marker.code}}: {{marker.count}}</span>
                        <span data-ng-switch-default>{{marker.code}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="app-panel app-panel-right">
    <dl class="student-info well">
        <dt>Behaviors:</dt>
        <dd class="behavior-keys">
            <ul>
                <li data-ng-repeat="behaviorButton in behaviorButtons">
                    <button class="behavior-key-item behavior-key-item-{{behaviorButton.behaviorTypeId}}"
                    data-ng-class="{depressed: behaviorButton.isDepressed}"
                    data-ng-click="behaviorTapped(behaviorButton.behaviorTypeId)">
                        <span class="behavior-key-letter">{{behaviorButton.code}}</span>
                        <span class="behavior-key-title">{{behaviorButton.name}}</span>
                        
                        <p data-ng-show="behaviorButton.tallyMode" style="text-align: right; margin-top: 10px; margin-bottom: 0;"><small><em>Recording tallies</em></small></p>
                    </button>
                </li>
            </ul>
            <br/>
            <a class="btn btn-large" href="/#/manage">
                Edit Behaviors
            </a>
        </dd>
    </dl>
</div>